<a href="https://colab.research.google.com/github/codologer7/Portfolio/blob/main/Data%20Engineering%20Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_excel('/Weather_data.xlsx')
print(df)

                    EST  Temperature  DewPoint  Humidity  \
0   2016-01-01 00:00:00           38        23        52
1   2016-02-01 00:00:00           36        18        46
2   2016-03-01 00:00:00           40        21        47
3   2016-04-01 00:00:00           25         9        44
4   2016-05-01 00:00:00           20        -3        41
5   2016-06-01 00:00:00           33         4        35
6   2016-07-01 00:00:00           39        11        33
7   2016-08-01 00:00:00           39        29        64
8   2016-09-01 00:00:00           44        38        77
9   2016-10-01 00:00:00           50        46        71
10  2016-11-01 00:00:00           33         8        37
11  2016-12-01 00:00:00           35        15        53
12            1/13/2016           26         4        42
13            1/14/2016           30        12        47
14            1/15/2016           43        31        62
15            1/16/2016           47        37        70
16            1/17/2016           36        23        66
17            1/18/2016           25         6        53
18            1/19/2016           22         3        42
19            1/20/2016           32        15        49
20            1/21/2016           31        11        45
21            1/22/2016           26         6        41
22            1/23/2016           26        21        78
23            1/24/2016           28        11        53
24            1/25/2016           34        18        54
25            1/26/2016           43        29        56
26            1/27/2016           41        22        45
27            1/28/2016           37        20        51
28            1/29/2016           36        21        50
29            1/30/2016           34        16        46
30            1/31/2016           46        28        52

    Sea Level PressureIn  VisibilityMiles  WindSpeedMPH PrecipitationIn  \
0                  30.03               10           8.0               0
1                  30.02               10           7.0               0
2                  29.86               10           8.0               0
3                  30.05               10           9.0               0
4                  30.57               10           5.0               0
5                  30.50               10           4.0               0
6                  30.28               10           2.0               0
7                  30.20               10           4.0               0
8                  30.16                9           8.0               T
9                  29.59                4           NaN             1.8
10                 29.92               10           NaN               0
11                 29.85               10           6.0               T
12                 29.94               10          10.0               0
13                 29.95               10           5.0               T
14                 29.82                9           5.0               T
15                 29.52                8           7.0            0.24
16                 29.78                8           6.0            0.05
17                 29.83                9          12.0               T
18                 30.03               10          11.0               0
19                 30.13               10           6.0               0
20                 30.15               10           6.0               0
21                 30.21                9           NaN            0.01
22                 29.77                1          16.0            2.31
23                 29.92                8           6.0               T
24                 30.25               10           3.0               0
25                 30.03               10           7.0               0
26                 30.03               10           7.0               T
27                 29.90               10           5.0               0
28                 29.58               10           8.0               0
29                 30.01               10           7.0               0
30                 29.90               10           5.0               0

    CloudCover    Events  WindDirDegrees
0            5       NaN             281
1            3       NaN             275
2            1       NaN             277
3            3       NaN             345
4            0       NaN             333
5            0       NaN             259
6            3       NaN             293
7            8       NaN              79
8            8      Rain              76
9            7      Rain             109
10           1       NaN             289
11           4       NaN             235
12           0       NaN             284
13           7       NaN             266
14           2       NaN             101
15           7      Rain             340
16           6  Fog-Snow             345
17           2      Snow             293
18           1       NaN             293
19           2       NaN             302
20           1       NaN             312
21           3      Snow              34
22           8  Fog-Snow              42
23           3      Snow             327
24           2       NaN             286
25           2       NaN             244
26           3      Rain             311
27           1       NaN             234
28           4       NaN             298
29           0       NaN             257
30           0       NaN             241

In [5]:
df.head(20)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01 00:00:00,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-02-01 00:00:00,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-03-01 00:00:00,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-04-01 00:00:00,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-05-01 00:00:00,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-06-01 00:00:00,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-07-01 00:00:00,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-08-01 00:00:00,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-09-01 00:00:00,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-10-01 00:00:00,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-11-01 00:00:00,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-12-01 00:00:00,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302

In [7]:
df.tail(30)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,2016-02-01 00:00:00,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-03-01 00:00:00,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-04-01 00:00:00,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-05-01 00:00:00,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-06-01 00:00:00,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-07-01 00:00:00,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-08-01 00:00:00,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-09-01 00:00:00,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-10-01 00:00:00,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-11-01 00:00:00,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-12-01 00:00:00,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [10]:
df['Temperature'].max()

50

In [11]:
df.loc[df['Events'] == 'Rain', 'EST']

8     2016-09-01 00:00:00
9     2016-10-01 00:00:00
15              1/16/2016
26              1/27/2016
Name: EST, dtype: object